<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljm.dao.Userdao">
    <select id="select" resultType="com.ljm.model.User">
    SELECT * FROM user WHERE id=#{id}
</select>
    <select id="selectToUsername" resultType="com.ljm.model.User">
    SELECT * FROM user WHERE username=#{username}
</select>
    <select id="verification" resultType="com.ljm.model.User">
        SELECT * FROM user WHERE username=#{username} and password=#{password};

    </select>
    <insert id="insert">
    INSERT INTO user(username,password) VALUES (#{username},#{password});
</insert>
</mapper>